.fancy_border {
    border: 2px solid white;
    border-radius: 7px;
    padding: 8px !important;
    margin-top: 5px;
}

.register-form {
    margin-top: 20px;
}

label.error {
    color:red;
}

.alert-block {
    width: 80%;
    margin:0 auto;
}